<form (ngSubmit)="guardar()" #martin="ngForm">
    <div class="row">
        <div class="col">
            <input [(ngModel)]="deporte.nombre" name="nombre" required type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
            <input [(ngModel)]="deporte.anio" name="anio" required class="form-control" placeholder="Last name">
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!martin.valid">regresar</button>
</form>
<!–- disabled button ng model name -–>