<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">equipos-Nacionales</th>
            <th scope="col">nombre</th>
            <th scope="col">año</th>
        </tr>



    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td></td>
            <td></td>
        </tr>


        <tr>
            <th scope="col">equipos-internacionales</th>
            <th scope="col">nombre</th>
            <th scope="col">año</th>
        </tr>

        <tbody>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
            </tr>


        </tbody>

        <button type="button" class="btn btn-primary" [routerLink]="['/2']">ir</button>
</table>