<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">equipos-Nacionales</th>
            <th scope="col">nombre</th>
            <th scope="col">año</th>
        </tr>

    </thead>
    <tbody *ngFor="let de of deportes">
        <tr>
            <td>{{de.anio}}</td>
            <td>{{de.key}}</td>
            <td>{{de.nombre}}</td>
            <td>
                <a [routerLink]="['/2',de.key]">Actualizar</a>
            </td>

        </tr>
    </tbody>




    <button type="button" class="btn btn-primary" [routerLink]="['/2']">ir</button>
</table>