<div class="imagenfondo">
    <div class="estilo">
        <img width="1500" src="../../assets/img/AFA.jpg" alt="Responsive image">



        <table class="table table-sm table-dark">

            <thead>
                <tr>
                    <th scope="col">nombre</th>
                    <th scope="col">goles</th>
                    <th scope="col">años</th>

                </tr>
            </thead>

            <tbody *ngFor="let de of deportes">
                <tr>
                    <td>{{de.nombre}}</td>
                    <td>{{de.goles}}</td>
                    <td>{{de.anio}}</td>

                    <td>
                        <a [routerLink]="['/2',de.key]">Actualizar</a>

                    </td>

                </tr>

            </tbody>



        </table>


    </div>
</div>